<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.


<ol>
<lh>Some of the popular languages that Data Scientists use are:</lh>
<li>Python</li>
<li>R</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>

<li>Pandas</li>
<li>Scifi</li>
<li>carra</li>
</ol>

|Data Science Tools|
| ---------------- |
|Rstudio|
|Jypyter Notebook|
|Anaconda|

<b>Objectives:</b>
<ul>
    <li>Tools used in data science</li>
    <li>Importance of R</li>
    <li>Git and Github</li>
</ul>

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/60,'hours')

3.3333333333333335 hours

<H3>Author</H3>
Nishid Dubey